.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}


.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

/* Footer */
#footer {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #d1c4e9;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.footer-container {
    padding-top: 15px;
    padding-bottom: 5px;

}

.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

#footer {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #d1c4e9;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.footer-container {
    padding-top: 15px;
    padding-bottom: 5px;

}